.task-container {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 40px;
}

.task-container .active-task {
    transition: background-color 0.2s ease;
}

.active-task{
    background-color: lightgreen;
}
