.task-container {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 0px 8px 8px 8px;
    margin-bottom: 8px;
}

.task-container .active-task {
    transition: all 0.2s ease;
}

.active-task{
    background-color: rgb(185, 185, 185);
    border: 2px solid rgb(71, 71, 71);
}
