.column-container {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    min-width: 20%;
}

.column-title {
    padding: 8px;
    font-weight: bold;
    text-align: center;
}

.column-tasks {
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    height: 100%;
}

.active-column {
    background-color: rgba(211, 211, 211, 0.288);
}
